html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: monospace;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #01081c;
}

#container {
  position: center;
}

table {
  border-collapse: collapse;
  border: 2px solid #8c8c8c;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: #135452;
}

th,
td {
  border: 1px solid #a0a0a0;
  padding: 8px 10px;
}

tbody {
  background-color: #091717;
}

button {
  font-size: 10px;
  height: 30px;
  width: 90px;
  border: 1px solid white;
  color: white;
  background-color: #05240c;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}
