html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: monospace;
  color: white;
}
@media (max-width: 600px) {
    html {
      font-size: 8px; /* mobile */
      box-sizing: border-box;
      font-family: monospace;
      color: white;
    }
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #01081c;
}

#container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

table {
  border-collapse: collapse;
  border: 2px solid #8c8c8c;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: #135452;
}

th,
td {
  border: 1px solid #a0a0a0;
  padding: 8px 10px;
}

tbody {
  background-color: #091717;
}
input{
  font-size: 1rem;
  height: 2rem;
  width: 15rem;
  border-radius: 0.6rem;
  background-color: lightgrey;
}
button {
  font-size: 1rem;
  height: 1.7rem;
  width: 10rem;
  border: 1px solid white;
  color: white;
  background-color: #05240c;
  border-radius: 0.4rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}
